@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-gradient-xy {
        animation: gradient-xy 15s ease infinite;
        background-size: 400% 400%;
    }
}

@keyframes gradient-xy {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}